Repository HYF-Class19/agile-development-hyf-group-4, pull requests merged in 2022-08, with the labels that each got.

#3 md files
  .cspell.json
  .vscode/settings.json
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/user-peronas.md
Labels: md

#4 added could have section in the backlog.md file
  planning/backlog.md
Labels: md

#9 added team members task
  planning/backlog.md
Labels: md

#12 Plannig about
  planning/backlog.md
  planning/communication-plan.md
  planning/development-strategy.md
Labels: Planning

#14 added information about program page to backlog md file
  planning/backlog.md
Labels: Planning

#16 updated communication.md
  planning/backlog.md
  planning/communication-plan.md
Labels: Planning

#17 Planning: adding renjani
  planning/README.md
  planning/communication-plan.md
Labels: Planning

#22 Planning voluntary
  planning/backlog.md
  planning/development-strategy.md
Labels: Planning

#24 Planning backlog: adding digitalens
  .vscode/settings.json
  package-lock.json
  package.json
  planning/backlog.md
Labels: Planning

#27 development-strategy.md
  planning/development-strategy.md
Labels: Planning

#29 added image and header to the design file
  planning/design.md
  public/hoomepagedesign.png
Labels: md

#31 added header to html and css file
  .cspell.json
  index.html
  public/home-header.jpeg
  styles/index.css
Labels: html, css

#36 our impact format fix
  index.html
  styles/index.css
Labels: css

#42 Corevalues Section
  .cspell.json
  homepageimages/commitment.svg
  homepageimages/community.svg
  homepageimages/diversity.svg
  homepageimages/open.svg
  index.html
  styles/index.css
Labels: html, css

#47 Homepage support us
  index.html
  styles/index.css
Labels: html, css

#50 added retrospective
  planning/retrospective.md
Labels: Planning

#51 hover
  index.html
  styles/index.css
Labels: enhancement

#52 Homepage program section
  .cspell.json
  index.html
  public/our-program.jpg
  styles/index.css
Labels: html, css

#56 added images and final touch the fonts
  index.html
  public/Bruxelles-Formation_logo-37e18a12c1bfb920568ba6fa1514eaea.png
  public/DCD_logo_regular-1ff37160591cd335e9ef39b73547db99.png
  public/DSJC-Member-NEGATIVE-200px-be47559736b435c859312f9383aad720.png
  public/EPITECH-TECHNOLOGY-e20c5f66da881e5abb87d98769600bcc.png
  public/UXAntwerp_logo-6e86ee4a1402927b7678ccf37c140e93.png
  public/aaa.jpg
  public/agoria-a966d3165e013fa6880a2281e1a3af9e.png
  public/agoria.png
  public/antwerp-stad-20b2e8f96c3e991e67874556cd5f4a2a.jpg
  public/arrow-next-2825.svg
  public/artevelde-hogeschool-a976dc29ac37b3e3c8d96735d204f3e8.svg
  public/axxes.png
  public/bruxelles-emploi-dbdcfa10d703952f0e85e4e166b685d7.svg
  public/digital-belgium-e20719e79b90a1ea28e8c83e86262d29.svg
  public/download.png
  public/dsj.png
  public/duo_logo-3b87c40725793ee29a616a1c010da7cf.png
  public/logo-9f794cfa9043430098c7ee06f953415c.png
  public/microsoft-56ff78cc525fd797e6b79ef578e97ebb.svg
  public/open-knowledge-82a0136dd048e7c34bdcd3a7dfaaa7f3.svg
  public/openrecognotion.png
  public/print-simple-c628b304b936bf3cd9b5dc82a215ae3e.svg
  public/vbo_feb-f0c8dc81238d36cbc6b8e0375aef5a06.png
  styles/index.css
Labels: enhancement

#59 Enhancement
  index.html
  styles/index.css
Labels: enhancement

#63 Digitalents page (css, html, image)
  digitalents.html
  index.html
  styles/digitalents.css
  styles/index.css
Labels: html, css, image, digitalents page

#76 link error solved
  digitalents.html
  faq.html
  pages/volunteers.html
  styles/index.css
Labels: enhancement
